h1, h2 { font-size: 100%; }

table {
  margin: 0.5em 0;
  border: 1px solid black; border-collapse: collapse;
  font-size: small;
  font-family: sans-serif;
}

td, th {
  padding: 0.2em 0.3em;
  border: 1px solid silver;
}

th {
  text-align: left;
  padding-right: 20px;
  cursor: default;
}

thead th {
  background-color: navy; color: white;
}
/* START:core_styles */
thead th.ascend, thead th.descend {
  background: #aaf url('ascend.png') no-repeat right center;
}

thead th.descend { background-image: url('descend.png'); }

tr.alternate * {
  background-color: #ddd;
}
/* END:core_styles */
